@* MovieDetais*@
@page "/movie/{movieId:int}"
@using MoviePro2025.Models.MovieModels
@inject TMDBClientService _TMDBClientService
@inject NavigationManager _navManager
@inject IJSRuntime _JS

@if (movie is not null)
{
    <PageTitle>@movie.Title</PageTitle>

}

<div class="container-fluid p-0">
    @if (movie is null)
    {
        <div class="py-5 justify-content-center align-items-center">
            @if (isLoading)
            {
                <h2 class="text-muted"> Loading movies . . . </h2>
            }
            else
            {
                <h2 class="text-muted">
                    Movie could not be found . . .
                </h2>
            }
        </div>
    }
    else
    {
        <div id="movie-details" style="--background: url(@movie.BackdropPath)">
            <div id="movie-wrapper">
                <div class="container-xxl py-3">
                    <div class="row">
                        <div class="col-12 col-md-4 col-xl-3 text-center text-md-start mb-3">
                            <img class="img-fluid" id="movie-poster" src="@movie.PosterPath" />
                        </div>
                        <div class="col-12 col-md-8 col-xl-9">
                            <h3 class="display-6 fw-bold mb-0 text-light">@movie.Title</h3>

                            <div class="lead mb-3">@movie.Tagline</div>
                            <div class="hstack gap-2">
                                @{
                                    bool dateParsed = DateTime.TryParse(movie.ReleaseDate, out DateTime releaseDate);
                                }
                                @if (dateParsed)
                                {
                                    <span>@releaseDate.ToString("MMMM dd, yyyy") | </span>
                                }
                                <span>
                                    @{
                                        int hours = movie.Runtime / 60;
                                        int minutes = movie.Runtime % 60;
                                    }
                                    @hours hour @minutes minutes
                                </span>
                            </div>
                            <div class="hstack gap-2 my-2">
                                @foreach (var genre in movie.Genres)
                                {
                                    <span class="badge text-bg-primary">@genre.Name</span>
                                }

                            </div>
                            <h5 class="lead fw-bold pt-3 mt-3 text-light">Overview</h5>
                            <p class="lead text-light">
                                @movie.Overview
                            </p>
                            <div>
                                @*  Calculation: convert to percentage(two decimal places) *@
                                <span id="movie-rating">User Score: @((movie.VoteAverage * 10).ToString("F2"))%</span>
                            </div>
                            @if (!string.IsNullOrEmpty(movieTrailer?.Key))
                            {
                                <div id="btn-trailer" class="mt-3">
                                    <button class="btn btn-outline-warning"
                                            data-bs-toggle="modal"
                                            data-bs-target="#movie-modal">
                                        <i class="bi bi-play"></i>
                                        Play Trailer
                                    </button>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xl py-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Top Billed Cast</h3>
                    <ActorSwiper Actors ="actors"/>
                </div>
            </div>
        </div>
    }

</div>
<div class="modal" tabindex="-1" id="movie-modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content modal-background">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">@(movie?.Title ?? "Movie Trailer")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16X9">
                    <iframe id="modal-trailer" src="" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning ms-auto" data-bs-dismiss="modal">
                    <i class="bi bi-x"></i>
                    Close
                </button>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public int MovieId { get; set; }

    private MovieDetails? movie;
    private Video? movieTrailer;
    private List<Cast> actors = [];

    private bool isLoading = true;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            isLoading = true;
            movie = await _TMDBClientService.GetMovieDetailsAsync(MovieId);
            movieTrailer = await _TMDBClientService.GetMovieTrailerAsync(MovieId);
            var credits = await _TMDBClientService.GetCreditsByMovieIdAsync(MovieId);
            actors = credits.Cast.Take(10).ToList();

        }
        catch (Exception ex)
        {

            Console.WriteLine($"Error fetching movie details: {ex.Message}");
        }
        finally
        {
            // Ensure loading state is reset even if an error occurs
            isLoading = false;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await using var jsModule = await _JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/MovieById.razor.js");
        if (movieTrailer is not null)
        {
            string trailerUrl = $"https://www.youtube.com/embed/{movieTrailer.Key}";
            await jsModule.InvokeVoidAsync("initVideoPlayer", trailerUrl);
        }
        else
        {
            await jsModule.InvokeVoidAsync("initVideoPlayer", string.Empty);
        }
    }
}
